<% include layout/header.ejs %>
    
     <!-- <div class="left-burger"><div class="triangle"></div><h2>Привет</h2></div>
      <div class="right-slider"><h2>и тут</h2></div> -->
      <div>
      <% include main1.ejs %>
      </div>
     <% include layout/footer.ejs %> 