<% include layout/header.ejs %>
    <article id="container">
        <header id="main-nav">
          <h1 class="logo">УКРКОМ</h1>
          <div id="bun"><div class="mmm-burger"></div></div>
          <div id="logotype"><img src="/images/logo1.png"></div>
        </header>
        <section id="content">
          <div class="left-burger"><div class="triangle"></div><h2></h2></div>
          <div class="right-slider"><h2></h2></div>
        </section>
      </article>
      <aside id='sidebar'>
          <nav id='mobile-nav'>
            <ul>
              <li class="nav-item"><h3>Головна</h3></li>
              <li class="nav-item"><h3>Про нас</h3></li>
                <ul class="sub-nav">
                  <li class="sub-nav-item"><h4>Ліцензії</h4></li>
                  <li class="sub-nav-item"><h4>Вакансії</h4></li>
                  <li class="sub-nav-item"><h4>Якість</h4></li>
                </ul>
              <li class="nav-item"><h3>Передача даних</h3></li>
              <ul class="sub-nav">
                  <li class="sub-nav-item"><h4>Тарифи</h4></li>
                  <li class="sub-nav-item"><h4>Договір</h4></li>
                </ul>
              <li class="nav-item"><h3>Телефонний зв'язок</h3></li>
              <ul class="sub-nav">
                      <li class="sub-nav-item"><h4>Тарифи</h4></li>
                      <li class="sub-nav-item"><h4>Договір</h4></li>
                      <li class="sub-nav-item"><h4>Довідник екстренних служб</h4></li>
                      <li class="sub-nav-item"><h4>Нормативні документи</h4></li>
                </ul>
              <li class="nav-item"><h3>Оплата послуг</h3></li>
              <li class="nav-item" > <a href="/allnews"><h3>Новини</h3></a> </li>
              <ul class="sub-nav">
                <li class="sub-nav-item"><a  href="/news"><h4>Додати новину</h4></a></li>
              </ul>
              <li class="nav-item"><h3>Контакти</h3></li>
              <!--<ul class="sub-nav">
                  <li class="sub-nav-item"><h4>Inner Page</h4></li>
                    <li class="sub-nav-item"><h4>Inner Page</h4></li>
                      <li class="sub-nav-item"><h4>Inner Page</h4></li>
                </ul>
              <li class="nav-item"><h3>Contact Us</h3></li> 
            </ul> -->
        </nav>
      </aside>
      
<% include layout/footer.ejs %>