<!-- Section: Blog v.3 -->
<% include layout/header.ejs %>
<link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/licency.css') %>"/> 
<section>
<div class="container">
  <div class="row head">
    <div class="col-lg-12">
      <div class="image">
      <h4>Ліцензія надання послуг і технічного обслуговування і експлуатації телемереж на території м.Київ</h4>
      <img src="/public/images/2017-2022 Ліцензія Київ телемережі.jpg" alt="Ліцензія телемережі м.Київ">
       <hr>
     </div>
     <div class="image">
        <h4> Надання послуг фіксованого міжміського телефонного зв'язку на території м.Київ  та Дніпропетровської обл.</h4>
      <img src="/public/images/2017-2022 Ліцензія МГ Киев и Днепропетровская обл.jpg" alt="Ліцензія телемережі м.Київ">
     </div>
      <hr>
      <div class="image">
          <h4> Надання послуг зв'язку місцевого з правом створення власної мережі на території Київської обл.</h4>
        <img src="/public/images/2004-2019 Ліцензія Київська обл.jpg" alt="Ліцензія телемережі м.Київ">
       </div>
        <hr>
        <div class="image">
          <h4> Надання послуг фіксованого місцевого телефонного зв'язку з ємністью 10000 номерів на території Дніпропетровської обл.</h4>
        <img src="/public/images/2017-2021 Ліцензія Днепр и обл.jpg" alt="Ліцензія телемережі м.Київ">
       </div>
        <hr>
        <div class="image">
            <h4> Надання послуг фіксованого місцевого телефонного зв'язку з ємністью 10000 номерів на території м.Черкаси та Черкаської обл.</h4>
          <img src="/public/images/2017-2018 Ліцензія Черкассы.jpg" alt="Ліцензія телемережі м.Київ">
         </div>
          <hr>
    </div>

  </div>

</div>
</section>
<% include layout/footer.ejs %>