

<div class="conteiner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Про компанію</h1>
            <div class="about">
            <p>ТОВ «УКРКОМ» (зареєстрована торгова марка «Українські комунікації») розпочало роботу на ринку телекомунікацій України в 1994 році в якості постачальника обладнання зв'язку. Планомірне і успішний розвиток компанії дозволив ТОВ «УКРКОМ» з 1998 року приступити до постачання готових телекомунікаційних рішень на базі волоконно-оптичних
                 мультиплексорів та електронних АТС. Послідовно нарощуючи обсяги і розширюючи коло ділових партнерів, ТОВ «УКРКОМ» приступило до спорудження власних оптичних мереж спочатку в м.Києві (з 1999 року), а потім і в найбільших обласних центрах України (з 2005 року). З 2000 року ТОВ «УКРКОМ» надає послуги фіксованого телефонного зв'язку 
                 в м.Києві, а з 2007 року – і в обласних центрах України. Для надання послуг, в якості основних комутаційних вузлів ми використовуємо найсучасніше обладнання електронних АТС виробництва Siemens (Німеччина) і Iskratel (Словенія), а також обладнання електронних АТС малої і середньої ємності виробництва Nortel Networks і Alcatel-Lucent. 
                 Наші транспортні мережі побудовані із застосуванням високопродуктивних і надійних систем SDH світового лідера в цій категорії – фірми Alcatel-Lucent. Транспортні мережі IP/MPLS побудовані на обладнанні іншого лідера галузі – компанії Cisco Systems. Професійне високонадійне обладнання, кероване кваліфікованим персоналом, що має багатий 
                 досвід, дозволяють запропонувати нашим абонентам найвищий рівень якості і задовольнити найрізноманітніші вимоги замовників. Сьогодні ТОВ «УКРКОМ» – найбільший оператор зв'язку і первинний Інтернет-провайдер – пропонує весь спектр телекомунікаційних рішень – від одиничних телефонних номерів до підключення великих АТС корпоративних клієнтів 
                 із застосуванням різних сучасних технологій, включаючи радіотехнології WiMAX та WiFi. ТОВ «УКРКОМ» має власну розгалужену оптоволоконну мережу з потужними роздатковими вузлами, що дозволяють надавати всі види послуг в будь-якій точці Києва, а також в місті Дніпро. Надання послуг передачі даних і підключення каналами IP/Ethernet 
                 (SHDSL або оптика) сьогодні можливо також у містах Вінниця, Черкаси. ТОВ «УКРКОМ», будучи партнером багатьох провідних світових виробників телекомунікаційного обладнання, пропонує високоякісне і відносно недороге обладнання оптичних систем передачі даних (SDH) рівнів від STM-1, STM-16, надпотужні системи для магістральних каналів DWDM, 
                 вузли і компоненти АТС середньої та великої місткості виробництва компанії Alcatel–Lucent, а також повний спектр обладнання виробництва компанії Tyco Electronics Raychem (муфти для оптичного та мідного кабелю, кросове та кінцеве обладнання, допоміжні аксесуари, а також джерела живлення та широкий асортимент іншого обладнання).
                 У продажу (за запитом) також є обладнання систем передачі даних виробництва країн СНД і запасні частини до нього. Все застосовуване і пропоноване нами устаткування має необхідні сертифікати та дозволи для застосування на мережах усіх типів і призначень.</p>
            </div>
        </div>

    </div>

</div>
