

<div class="conteiner">
    <div class="row">
        <div class="col-lg-12">    
            <h1 class="breadcrumb">Новітні технологічні рішення</h1>
            <p></p>   
             <header class="hero ">  
                <div class="back-el">
                    <figure>
                     <img src="/public/images/telephone.png">
                     <figcaption>Телефонія</figcaption>
                    </figure>
                    <figure>
                     <img src="/public/images/world.png">
                     <figcaption>Інтернет</figcaption>
                    </figure>
                    <figure>
                     <img src="/public/images/viral.png">
                     <figcaption>Аудит мережі</figcaption>
                    </figure>
                </div>
                <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 fore-el">
                                    <h5>Корпоративна мережа руками професіоналів</h5>
                            </div>
                        </div>
                
                    </div>
                <div class="main-el"></div>
                <!-- <div class="fore-el"></div> -->
                
            </header>
            
        </div>   
    </div>
</div>
