<% include layout/header.ejs %>
<link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/payment.css') %>"/> 
<section class="vac">
    <div class="container">
            <div class="row fon">
                    <div class="col-12 pay">
                
                  
                        <h2>Оплата послуг</h2>
                        <div><img class="image" src="../public/images/liqpay.png" alt="Ligpay"><a href="https://www.liqpay.ua/">Liqpay</a></div>
                        <div><img class="image" src="../public/images/privat24.png"alt="Privat24"><a href="https://www.privat24.ua/">Приват24</a></div>
                        <div><img class="image" src="../public/images/ipay.png" alt="IPay"><a href="https://www.ipay.ua/ru/bills/oplatit-telephone-ukrcom-online">Телефонія</a></div>
                        <div><img class="image" src="../public/images/ipay.png" alt="IPay"><a href="https://www.ipay.ua/ru/bills/oplatit-internet-ukrcom-online">Інтернет</a></div>
                        <div><img class="image" src="../public/images/ibox.png" alt="IBox"><a href="http://www.iboxbank.online/">IBox</a>Інтернет</div>
                        <div><img class="image" src="../public/images/portmone.jpg" alt="Portmone"><a href="http://www.portmone.ua/">Portmone</a>Інтернет</div>
                        <p>*повнення згідно діючих тарифів.</p>
                    </div>
                   
                </div>

    </div>

</section>


<% include layout/footer.ejs %>