<% include layout/header.ejs %>
<section class="vac">
    <div class="container">
            <div class="row fon"> 
                    <div class="col-12">
                        
                            <h1 class="text-body">Тарифи</h1>
                           <h3 class="text-justify"><b>1.Організація доступу до опорної мережі компанії УКРКОМ по виділених каналах зв`язку</b></h3>
                           <table class="redTable">
                                <thead>
                                <tr>
                                <th>Організація виділеного цифрового каналу <br>до майданчика абонента з підключенням <br>до порту опорної цифрової мережі компанії УКРКОМ</th>
                                <th>Одноразова установча плата (грн.)</th>
                                <th>&nbsp;</th>
                                <th>Щомісячна абонплата (грн.)</th>
                                </tr>
                                <tr>
                                    <td></td> 
                                    <th style="background-color:#A40808">Підключення до порту</th>
                                    <th style="background-color:#A40808">Організація виділеного цифрового каналу<br> на «останній милі» (при необхідності)</th>  
                                    <td></td>                
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td>Підключення до опорної мережі компании УКРКОМ</td>
                                <td>від 120грн.</td>
                                <td>Договірна</td>
                                <td>Договірна</td>
                                </tr>
                                </tbody>
                                </table>
                
                                <p>- у вартість виділеного цифрового каналу входить організація фізичної лінії безпосереднього  зв'язку (БЗ) до місця дислокації абонента і установка каналоутворюючого обладнання Оператора на її закінченнях;</p>
                
                                <h3 class="text-center"><b>2. Надання прямих телефонных номерів по каналам передачі даних</b></h3>
                                <p>Телефоннія сплачується за діючими гранічними тарифами Міністерства зв`язку України, на умовах та у відповідності з договором на послуги зв`язку;</p>
                
                                <h3 class="text-center"><b>3. Доступ до мережі Інтернет з фіксованою щомісячною абонентською платою (безлімітний доступ)</b></h3>
                                <table class="redTable">
                                <thead>
                                <tr>
                                <th>Абонентська плата</th>
                                <th>Вартість(грн.)</th>    
                                </tr>             
                                </thead>
                                <tbody>
                                <tr>
                                <td>Абонентська плата за надання необмеженого доступу до зарубіжних...... <br>та українських сегментів мережі Інтернет</td>
                                <td>Договірна звертайтесь у відділ продаж</td>
                                </tr>
                                </tbody>
                                </table><br>
                                <p>Компанія надає блоки статичних IP-адрес виключно своїм безпосереднім клієнтам, які обслуговуються в рамках автономної мережі компанії AS12593. Відмова Абонента від підключення, так само як і його перехід під технічне управління іншоїй AS, тягне за собою обов'язкове і беззаперечне повернення наданих IP-адрес протягом 2-х тижнів з моменту розриву договірних відносин, або зміни AS</p><br>
                                <p>Прикордонне взаємодія з автономними системами інших провайдерів і підтримка маршрутизації блоків IP-адрес здійснюється виключно із застосуванням протоколу BGP версії не нижче 4.0.</p><br>
                                <p><b>Прикордонне взаємодія з автономними системами інших провайдерів і підтримка маршрутизації блоків IP-адрес здійснюється виключно із застосуванням протоколу BGP версії не нижче 4.0.</b></p>
                                <ol>
                                    <li>Заборонена маршрутизація виданих компанією блоків IP-адрес з провайдерського блоку компанії через інших провайдерів або під управлінням чужої AS</li>
                                </ol>
                                <p>Порушення даних правил є грубим технічним порушенням, яке тягне за собою санкції згідно договору.</p><br>
                                <p><b>Примітки:</b></p>
                                <ol>
                                    <li>Послуги, не представлені вище, надаються за договірними цінами і окремими угодами;</li>
                                    <li>З питаннями, щодо технічної можливості підключення та за цінами, звертайтесь у відділ продажу послуг.</li>
                                </ol>
                    
                    </div>
                </div>
    </div>
</section>
<% include layout/footer.ejs %>