<% include layout/header.ejs %>
<link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/telcontract.css') %>"/> 
    <section class="vac">
        <div class="container">
            <div class="row fon ">
                <div class="col-12">
                        <h1>Договір на надання послуг зв'язку</h1><br>

                        <p><b>Договір № ______-Т</b></p>
                        <p><b>на надання послуг зв'язку</b></p>
                        <p><b>м. Київ « » 2014 р.</b></p>
                       <p><b>ТОВ «УКРКОМ»</b>, в особі директора _________________, який діє на підставі Статуту і <p>
                        <p> ліцензії Національної комісії з питань регулювання зв’язку України серії АЕ №521783 від </p>
                        <p>26.11.2014 року (далі «Оператор» за рішенням Національної комісії з питань регулювання</p>
                        <p>зв’язку України від 28.09.2006 № 384 внесено до Реєстру операторів, провайдерів</p>
                        <p>телекомунікацій), і __________________, в особі директора __________________________,</p>
                        <p> який діє на підставі Статуту, (далі «Абонент»), уклали цей договір (далі «Договір») про</p>
                        <p> нижченаведене:</p>
                        <p><b>Терміни, вживані в Договорі</b></p>
                        <p><b>Послуги</b> або <b>Послуги Оператора</b> – послуги міського, міжміського та міжнародного</p>
                        <p> комутованого електрозв'язку, що надаються Оператором в рамках Договору і додатків до </p>
                        <p>нього, на підставі та відповідно до ліцензій, виданих Оператору Національною комісією </p>
                        <p> регулювання зв'язку України, Національною комісією, що здійснює державне регулювання у</p>
                        <p> сфері зв’язку та інформатизації, або її правонаступниками (далі по тексту НКРЗІ), та </p>
                        <p> договорів з постачальниками послуг самому Оператору.</p>
                        <p><b>Точка демаркації.</b> Під точкою демаркації розуміється фізичне місце, в якому </p>
                        <p>відповідальність за працездатність і збереження каналу зв'язку переходить від Оператора до</p>
                        <p>Абонента.</p> 
                        <p><b>Точкою демаркації вважається</b></p>
                       <p><b>Відключення</b>  – набір технологічних операцій, що блокують Абоненту доступ до Послуг.</p>
                        <p><b>Скасування</b> – набір операцій, що руйнує існуючий зв'язок. Для повторного ввімкнення</p>
                        <p> необхідні процедури, аналогічні створенню нового Абонента.</p>
                        <p><b>Розрахунковий період</b> – календарний місяць, у межах якого надавалися Послуги.</p>
                        <p><b>1. Предмет договору</b></p>
                        <p>1.1 Оператор надає Абоненту Послуги, надає Абоненту 1 (один) номер (ХХХХХХХХ) за</p>
                        <p> адресою:_______, з номерного ресурсу, що є в його розпорядженні, виконує роботи по </p>
                        <p>підключенню ліній Абонента в точці демаркації до АТС Оператора.</p>
                        <p>1.2 Абонент сплачує установчу плату, а також зобов'язується вносити щомісячну </p>
                        <p>абонентську плату та плату за створюваний вихідний трафік в межах м. Києва (за тарифами,</p>
                        <p> встановленими рішеннями НКРЗІ), плату за проведені міжміські і міжнародні переговори,</p>
                        <p>плату за користування додатковими послугами на умовах і відповідно до Договору і </p>
                        <p>Додатків до нього.</p>
                        <p>1.3 Установча плата за номер становить</p>
                        <p>_____________________________________________________________.</p>
                        <p>1.4 Загальна сума установчої плати складає</p>
                        <p>__________________________________________________________.</p>
                        <p><b>2. Права та Обов'язки Сторін</b></p>
                        <p>2.1 Оператор зобов'язується:</p> 
                        <p>2.1.1 Протягом 20-ти робочих днів з дати підписання Договору виконати роботи по</p>
                        <p> підключенню ліній (кабелю) в точці демаркації до АТС Оператора (за умови надходження </p>
                        <p>установчої плати на рахунок Оператора).</p>
                        <p> 2.1.2 Надати і підключити Абоненту номера з наявного ресурсу згідно п.1.1. цього Договору.</p>
                        <p> 2.1.3 Виконати програмування своєї АТС для формування номерного плану і тракту із</p>
                        <p>заданими параметрами і надання додаткових послуг (при необхідності).</p>
                        <p>2.1.4 Підключити лінії Абонента до телефонної мережі загального користування м. Києва і </p>
                        <p>до послуг міжміського і міжнародного зв'язку.</p>
                        <p>2.1.5 Надати безоплатний доступ до служб екстреного виклику: пожежної служби (101), </p>
                        <p>міліції (102), швидкої медичної допомоги (103), аварійної служби газу (104), служби допомоги (112).</p>
                        <p>2.1.6 Забезпечити експлуатацію лінії і усунення пошкоджень від АТС Оператора до точки демаркації.</p>
                        <p>Усунення пошкоджень на ділянці від точки демаркації до АТС Оператора проводиться по нормативах, </p>
                        <P>встановлених діючими Правилами надання та отримання телекомунікаційних послуг (Постанова КМУ № 295 </P>
                        <p>від 11 квітня 2012р. надалі за текстом «Правила») за рахунок Оператора.</p>
                        <p>2.1.7 Застосовувати при наданні послуг Абоненту обладнання і пристрої, що мають державні сертифікати.</p>
                        <p>2.1.8 Не розголошувати відомості, одержані від Абонента в порядку виконання Договору, а також дані по</p>
                        <p> переговорах Абонента, крім випадків, визначених чинним законодавством України.</p>
                        <p>2.1.9 Приймати до розгляду скарги в порядку, встановленому діючими Правилами.
                        <p>2.2 Оператор має право:</p>
                        <p>2.2.1 Змінювати тарифи на Послуги з письмовим повідомленням Абонента не менше ніж за 7 днів до введення </p>
                        <p>їх в дію. Зміна тарифів може бути проведена у випадку зміни вартості послуг третіх осіб – постачальників</p>
                        <p> послуг самому Оператору, наказами і рішеннями НКРЗІ, законами, указами, постановами, рішеннями </p>
                        <p> та розпорядженнями органів влади і управління, що впливають на ціноутворення в галузі зв'язку.</p>
                        <p>2.2.2 Своєчасно та в повному обсязі отримувати плату за надані Послуги відповідно до умов Договору.
                        <p>2.2.3 У випадку неоплати рахунку до 20 числа місяця, що настає після повного розрахункового періоду,</p>
                        <p> застосувати до Абонента штрафні санкції у вигляді пені у розмірі облікової ставки Національного </p>
                        <p>Банку України від несплаченої суми за кожен день прострочки, а при несплаті рахунку протягом </p>
                        <p>наступних 10-ти днів, припинити надання Послуг (відключити номери). При цьому повторне включення</p>
                        <p> Абонента проводиться після оплати рахунку та пені. Якщо оплата не внесена протягом 10 </p>
                        <p>календарних днів з дати відключення, Оператор має право скасувати номер (номери) Абонента</p>
                        <p> та розірвати Договір, про що письмово попереджає Абонента за 15 календарних днів. </p>
                        <p>Після цього Оператор має право звернутися до суду для примусового стягнення заборгованості</p>
                        <p>Абонента.</p> 
                        <p>2.2.4 У разі технічної необхідності змінити номерний план наданої ємності в порядку і </p>
                        <p> на умовах, визначених НКРЗІ і діючими Правилами.</p>
                        <p>2.3 Абонент зобов'язується:</p>
                        <p>2.3.1 Своєчасно та в повному обсязі сплачувати рахунки за надані Послуги відповідно </p>
                        <p>до умов Договору.</p>
                        <p>2.3.2 Застосовувати кінцеві пристрої, що мають сертифікат і дозволені до застосування на</p>
                        <p> телефонних мережах загального користування. Наявність сертифікату на обладнання Абонент</p>
                        <p>повинен вимагати у продавця обладнання.</p> 
                        <p>2.3.3 Не проводити самостійно ніяких робіт на підключених лініях та в розподільчих </p>
                        <p>пристроях (боксах, коробках, шафах). В разі виникнення необхідності проведення робіт </p>
                        <p>або переобладнання внутрішньої проводки, звертатися до Оператора або до уповноважених </p>
                        <p>ним осіб для виконання всіх видів робіт.</p>
                        <p>2.3.4 Забезпечити експлуатацію та збереження ліній зв`язку від точки демаркації до</p>
                        <p> кінцевих пристроїв. Не допускати підключення сторонніх споживачів чи паралельних ліній.</p>
                        <p>2.3.5 Усунення пошкоджень на ділянці від точки демаркації до апарату виконувати за свій </p>
                        <p>рахунок (по заявці на бюро ремонту Оператора або до уповноваженої особи).</p>
                        <p>2.3.6 Не передавати виділен(і)ий номер (номери) в оренду або інше користування будь-яким</p>
                        <p> підприємствам і організаціям, незалежно від їх відношення до Абонента без </p>
                        <p>повідомлення Оператора. У випадку передачі номера (номерів) в тимчасове користування,</p>
                        <p> наприклад, при оренді приміщень, Абонент зобов'язаний протягом 15-ти календарних днів </p>
                        <p>повідомити Оператора про зміну фактичного користувача (переукласти Договір). </p>
                        <p>Перереєстрація номера (номерів) Оператором проводиться на умовах, визначених діючими</p>
                        <p> Правилами.</p>
                        <p>2.3.7 У 20-ти денний строк повідомити Оператора про зміну юридичних або розрахункових </p>
                        <p>реквізитів. У випадку реєстрації (перереєстрації) будь-якого підприємства за адресою </p>
                        <p>Абонента (для фізичних осіб) повідомити Оператора протягом 20 діб. У випадку ліквідації</p>
                        <p> або перереєстрації підприємства повідомити Оператора протягом 10-ти календарних днів.</p>
                        <p>2.3.8 Нести повну відповідальність за пошкодження обладнання та лінійних споруд </p>
                        <p>Оператора у випадку використання недозволених до застосування на телефонних мережах</p>
                        <p> пристроїв, або в результаті неузгодженого з черговим персоналом Оператора ремонту ліній,</p>
                        <p> що призвели до таких пошкоджень.</p>
                        <p>2.3.9 Не створювати з використанням підключеного номера (номерів) довідково-інформаційних,</p>
                        <p> диспетчерських, пошукових та інших видів служб. Не організовувати служби доступу до послуг</p>
                        <p> ІНТЕРНЕТ (послуги провайдера). При необхідності створення вказаних служб Абонент зобов'язаний </p>
                        <p>укласти додаткову угоду з Оператором.</p>
                        <p>2.3.10 Не надавати з використанням виділених номерів та ліній послуг міжміського та </p>
                        <p> міжнародного зв’язку незалежно від технології передачі голосу або даних.</p>
                        <p>2.4 Абонент має право:</p>
                        <p>2.4.1 Достроково розірвати цей Договір, повідомивши про це Оператора не менше, ніж</p>
                        <p> за 30 календарних днів, за умови повного розрахунку з Оператором.</p>
                        <p>2.4.2 Перенести належний йому номер (номери) в інші приміщення в межах зони дії мережі</p>
                        <p> Оператора. Такі роботи виконуються за окремою угодою.</p>
                        <p>2.4.3 Змінити номерний план наданої ємності (за наявності технічної можливості Оператора).</p>
                        <p>Такі роботи виконуються за окремою угодою.</p> 
                        <p><b>3. Відповідальність</b></p>
                        <p>3.1 Оператор несе відповідальність перед Абонентом в порядку і на умовах, визначених </p>
                        <p>діючими Законами України (Закон України «Про телекомунікації»), «Правилами надання та</p>
                        <p> отримання телекомунікаційних послуг», іншими діючими нормативними документами,</p>
                        <p> встановленими НКРЗІ та Кабінетом міністрів України. Межі відповідальності Оператора </p>
                        <p>обмежені точкою демаркації.</p>
                        <p>3.2 Оператор не несе відповідальності:</p>
                        <p>3.2.1 За зниження якості послуг, що надаються, якщо це зниження викликане пошкодженням</p>
                        <p>лінії від точки демаркації до кінцевого пристрою Абонента, або самого пристрою, або </p>
                        <p>застосуванням пристрою, що не має сертифікату.></p>
                        <p>3.2.2 Перед третіми особами, якщо їм буде причинний будь-який збиток, пов'язаний з </p>
                        <p>діями Абонента або його клієнтів, з використанням мережі Оператора або інших операторів.</p>
                        <p>3.2.3 За користування Послугами співробітниками або іншими особами з номера (номерів)</p>
                        <p>Абонента, якщо таке користування заподіяло збиток Абоненту.</p> 
                        <p>3.3 Абонент несе відповідальність:</p> 
                        <p>3.3.1 За несвоєчасну оплату рахунків, що виставляються Оператором.</p>
                        <p>3.3.2 За достовірність відомостей, переданих Оператору в ході складання і виконання </p>
                        <p>Договору.</p>
                        <p>3.3.3 За використання пристроїв, які не мають сертифікатів та дозволу для </p>
                        <p>використання на мережах зв’язку.</p>
                        <p>3.4. При невиконанні умов Договору, Абонент несе відповідальність в порядку,</p>
                        <p>встановленому діючим законодавством України.</p> 
                        <p><b>4. Порядок розрахунків</b></p> 
                        <p>4.1 Розрахунки проводяться шляхом оплати Абонентом рахунку, що надається </p>
                        <p>Оператором щомісячно, не пізніше 15 числа місяця, наступного за розрахунковим.</p>
                        <p>4.2 Абонент сплачує абонентську плату за користування доступом до міської </p>
                        <p>телефонної мережі, плату за створюваний вихідний трафік в межах м. Києва, плату</p>
                        <p> за проведені міжміські та міжнародні переговори, плату за надані додаткові</p>
                        <p> послуги (при укладенні додаткових угод), не пізніше 20 числа місяця, що настає </p>
                        <p>після повного розрахункового періоду.</p>
                        <p>4.3 Абонент має можливість авансування оплати Послуг.</p>
                        <p>4.4 У випадку неодержання рахунку до 20 числа поточного місяця, Абонент повинен </p>
                        <p>навести довідки по рахунку за телефонами: ____________________.</p>
                        <p><b>5. Форс-мажор</b></p>
                        <p>5.1 Сторони не несуть відповідальності за невиконання або обмеження виконання</p>
                        <p> Договору, якщо таке викликане дією непереборних сил, передбачити які на момент</p>
                        <p> підписання Договору було неможливо, а саме: військові дії, суспільні безладдя,</p>
                        <p> стихійні лиха, пожежі, а також рішення органів влади та управління, які роблять </p>
                        <p>неможливим або обмежують подальше виконання Договору.</p>
                        <p>5.2 Сторона, для якої виникли обставини форс-мажору, на вимогу іншої Сторони </p>
                        <p>повинна надати підтвердження Торгово-Промислової Палати щодо виникнення </p>
                        <p>обставин форс-мажору.</p>
                        <p><b>6. Додаткові умови і інші положення</b></p>
                        <p>6.1 У випадку створення навантаження на телефонну лінію (або канал) більше </p>
                        <p>0,75 Ерл Оператор не гарантує повнодоступність номерів Абонента, а Абоненту рекомендується</p>
                        <p> вжити заходів, щодо збільшення кількості ліній підключення.</p>
                        <p>6.2 За надання послуг доступу до міжміської та міжнародної мереж в кредит, </p>
                        <p>стягується плата в розмірі 2% від вартості розмови. Відсоток за кредит не стягується на</p>
                        <p> суму авансу.</p>
                        <p>6.3 Відкриття додаткових сервісних послуг електронних АТС проводиться Оператором на </p>
                        <p>основі письмового замовлення Абонента (лист з переліком потрібних послуг та номерів, </p>
                        <p>на які вони відкриваються).</p>
                        <p>6.4 Підписанням даного Договору, Абонент надає згоду на те, що інформація про нього,</p>
                        <p> в тому числі таке, що може бути кваліфіковане як персональні дані, буде внесено до</p>
                        <p> бази даних Оператора. Абонент надає згоду Оператору на використання та обробку персональних</p>
                        <p> даних, та погоджується з тим, що ця інформація буде використовуватись для обліку Абонентів,</p>
                        <p> обліку наданих послуг, а також для розрахунків та розсилання повідомлень і рахунків на </p>
                        <p>сплату послуг.</p>
                        <p>6.5 Деталізацію рахунків за проведені міжміські та міжнародні переговори Оператор може</p>
                        <p> надавати в друкованому вигляді за окрему плату (Абонент сплачує вартість роздруківки </p>
                        <p>за кожний аркуш), або безкоштовно по електронній пошті. Бажану форму надання даних </p>
                        <p>деталізації Абонент повинен вказати письмово листом довільної форми, в якому вказати</p>
                        <p> електронну адресу або друкований вигляд.</p>
                        <p>6.6 У випадку несплати установчої плати протягом 20-ти діб Договір вважається недійсним,</p>
                        <p> а номери, що виділені Абоненту, скасовуються.</p>
                        <p> 6.7 Всі ризики, пов’язані із використанням Абонентом будь-яких несертіфікованих пристроїв,</p>
                        <p> що не входять до переліку дозволених для використання на ТМЗК, або невірне програмування</p>
                        <p> встановлених технічних засобів, що може привести до здійснення несанкціонованих з’єднань </p>
                        <p>та нанесенню збитків, відносяться на рахунок Абонента.</p>
                        <p>6.8 Телефони служби підтримки (оператор вузла) – ________________________.</p>
                        <p>6.9 Всі додатки складають невід'ємну частину Договору.</p>
                        <p><b>7. Вирішення спорів></b></p>
                        <p>7.1 У випадку виникнення спорів або розбіжностей Сторони зобов'язуються вирішувати </p>
                        <p>їх шляхом взаємних переговорів та консультацій.</p>
                        <p>7.2 У разі недосягнення Сторонами згоди, спори (розбіжності) вирішуються у судовому порядку.</p>
                        <p><b>8. Термін дії Договору та умови його дострокового розірвання</b></p>
                        <p>8.1 Договір набуває чинності з моменту його підписання і діє до 31 грудня 2013р.</p>
                        <p>У разі відсутності заяви Абонента за один місяць до закінчення дії Договору, він </p>
                        <p>вважається продовженим на кожний календарний рік на тих самих умовах, які були </p>
                        <p>передбачені вище.</p>
                        <p>8.2 Абонент має право достроково розірвати дію Договору тільки за умови повного</p>
                        <p> розрахунку з Оператором, про що письмово повідомляє Оператора не менше, ніж за 30 </p>
                        <p>календарних діб до строку розірвання договору.</p>
                        <p>8.3 Оператор має право достроково розірвати дію Договору при невиконанні Абонентом</p>
                        <p> умов пунктів 2.2.3, 2.3, 3.4.</p>
                        <p><b>9. Юридичні адреси сторін</b></p>
                        <p><b>Оператор: Абонент:</b></p>
                        
                         
                       <p> _________________________ _________________________</p>
                        <pre>М.П.</pre>                                                     <pre> М.П.</pre>
                        
                </div>

            </div>

        </div>

    </section>


<% include layout/footer.ejs %>