<% include layout/header.ejs %>
<section class="vac">
<div class="container">
<div class="row fon">
   
    <div class="col-12">
        <div class="price">
        <div class="head">
        <h1 class="text-center">Тарифи з 1.05.2017</h1>
        <p class="text-left"><strong >на послуги зв'язку для абонентів ТОВ «УКРКОМ»</strong></p>
        </div>
    <div>
        <p class="text-left">Ціни на послуги зв'язку наведені <b> без урахування ПДВ.</b></p>
        <p class="text-left">Абонентська плата за один номер, що сплачується Абонентом <br>щомісячно, незалежно від створюваного трафіку,
         <b class="text-left">складає 50,62 грн.</b></p>
         <ul class="text-left">
             <li class="text-left"><p class="text-left">для бюджетних установ – 46,30 грн</p></li>
             <li class="text-left"><p class="text-left">для населення – 39,31 грн</p></li>
             
         </ul>
         <p class="text-left">Вартість однієї додаткової сервісної послуги електронної АТС складає 1,00 грн.</p>
         <p class="text-left">Послуга «тональний набір номера» надається безкоштовно.</p>
         <p class="text-left">Ціна однієї секунди вихідних розмов:</p>
         <table class="redTable">
                <thead>
                <tr>
                <th>Тарифна зона</th>
                <th>Розрахункова ставка за секунду,грн</th>       
                </tr>
                </thead>
                
                <tbody>
                <tr>
                <td>Місто (більше 10 000 секунд)</td>
                <td>0,00075</td>
               
                </tr>
                <tr>
                <td>Мережі стільникового зв’язку</td>
                <td>0,0167</td>
                
                </tr>
                <tr>
                <td>Україна</td>
                <td>0,0084</td>
                
                </tr>
                </tbody>
                </table> <br>
                <table class="redTable">
                        <thead>
                        <tr>
                            
                        <th>Тарифна зона</th>     
                        <th> Розрахункова ставка за секунду  в доларах США</th>  
                        <th></th>  
                        </tr>              
                        <tr>
                            <td></td>
                            <th style="background-color:#A40808"> Фіксовані мережі </th>
                            <th style="background-color:#A40808"> Мережі стільникового зв’язку </th>
                        </tr>      
                        </thead>
                        <tbody>
                        <tr>
                        <td>Росія</td>              
                        <td>0,0037</td>
                        <td>0,0050</td>
                        </tr>
                        <tr>
                        <td>Білорусь, Молдова</td>                  
                        <td>0,0075</td>
                        <td>0,0075</td>
                        </tr>
                        <tr>
                        <td>Азербайджан, Вірменія, Грузія</td>
                        <td>0,0063</td>
                        <td>0,0075</td>
                        </tr>
                        <tr>
                         <td>Казахстан, Киргизстан, Таджикистан, <br>Туркменістан, Узбекистан</td>                  
                         <td>0,0067</td>
                         <td>0,0067</td>
                        </tr>
                         <tr>
                         <td>Східна Європа</td>                  
                         <td>0,0072</td>
                         <td>0,0092</td>
                         </tr>
                         <tr>
                          <td>Центральна і Північна Європа</td>                  
                          <td>0,0083</td>
                          <td>0,0108</td>
                          </tr>
                          <tr>
                            <td>Західна Європа</td>                  
                            <td> 0,0083</td>
                             <td>0,0108</td>
                             </tr>
                             <tr>
                            <td>Центральна Азія і Близький Схід</td>                  
                             <td>0,0083</td>
                            <td>0,0108</td>
                             </tr>
                             <tr>
                             <td>Північна Америка</td>                  
                             <td>0,0050</td>
                            <td>0,0050</td>
                            </tr>
                            <tr>
                             <td>Східна Азія</td>                  
                            <td>0,0083</td>
                             <td>0,0108</td>
                             </tr>
                             <tr>
                             <td>Африка, Південна і Центральна Америка</td>                  
                             <td>0,0083</td>
                             <td>0,0108</td>
                             </tr>
                             <tr>
                             <td>Австралія, Океанія</td>                  
                            <td>0,0083</td>
                            <td>0,0108</td>
                             </tr>
                             <tr>
                                    <td>Інші країни</td>                  
                                   <td>0,0250</td>
                                   <td>0,0250</td>
                                    </tr>
                        </tbody>
                        </table>
                        <p>Тарифікація здійснюється на посекундній основі.</p>
                        <p>За надання послуг доступу до міжміської та міжнародної мереж в кредит, стягується плата <br>в розмірі 2% від вартості розмови. Відсотки за кредит не стягуються на суму авансу.</p>
                        <p>Тарифи на контент-послуги за скороченими номерами 109 та 1509 за одну послугу:</p>
                        <table class="redTable">
                                <thead>
                                <tr>
                                 <td></td>  
                                <th>Види послуг</th>                           
                                <th>Розрахункова ставка за одну послугу, грн</th>   
                                
                                </tr>
                                </thead>
                                
                                <tbody>
                                <tr>
                                <td>"109"</td>
                                <td>Довідкова послуга</td>
                                <td>3.00</td>                         
                                </tr>
                                <tr>
                                <td>"1509"</td>
                                <td>Інформаційно-довідкові послуги</td>
                                <td>7.00</td>
                                </tbody>
                                </table> 
                                <p>Надання деталізації міжміських, стільникових і міжнародних розмов – безкоштовно на носії Абонента (флеш-карта) або по <br> електронній пошті. Вартість роздруківкі одного аркушу формату А4 – 0,75 грн.</p>
    </div>
        </div>
    </div>
   </div>
</div>
</section>
<% include layout/footer.ejs %>