<% include layout/header.ejs %>
<section class="vac">
    <div class="container">
        <div class="row fon">
            <div class="col-12">
                    <h1>Довідник екстренних і довідкових служб</h1>
                    <table class="redTable">
                            <thead>
                            <tr>
                            <th>Номер</th>
                            <th>Назва служби</th>      
                            <th>Замовник</th>            
                            </tr>
                            </thead>                  
                            <tbody>
                            <tr>
                            <td>101</td>
                            <td>Пожежна допомога</td>
                            <td>Головне управління МНС України в м.Києві</td>
                            </tr>
                            <tr>
                            <td>102</td>
                            <td>Міліція</td>
                            <td>Головне управління МВС України в м.Києві</td>
                            </tr>
                            <tr>
                            <td>103</td>
                            <td>Швидка медична допомога</td>
                            <td>Київська міська станція швидкої допомоги та медицтни катастроф</td>
                            </tr>
                            <tr>
                           <td>104</td>
                            <td>Аварійна служба газової мережі</td>
                            <td>ВАТ "Київгаз"</td>
                            </tr>
                            <tr>
                            <td>109</td>
                            <td>Довідкова служба з надання номерів</td>
                            <td>КМФ ПАТ "Укртелеком"</td>
                            </tr>
                            <tr>
                             <td>121</td>
                             <td>Служба точного часу</td>  
                             <td>КМФ ПАТ "Укртелеком"</td>                        
                             </tr>
                             <tr>
                            <td>122</td>
                            <td>Прогноз погоди</td> 
                            <td>Український гідрометереплогічний центр</td>                         
                            </tr>
                            <tr>
                            <td>128</td>
                            <td>Чергова диспетчерська служба</td>   
                            <td>Головне управління з надзвичайних ситуацій Київської міської ради</td>                       
                            </tr>
                            <tr>
                            <td>175</td>
                            <td>Служба доставки пошти</td> 
                            <td>Київська міська дирекція поштового звязку України</td>                         
                            </tr>
                            <tr>
                            <td>1503</td>
                            <td>Довідкова служба швидкої допомоги</td>   
                            <td>Київська міська станція швидкої допомоги та медицини катастроф</td>                       
                            </tr>
                            <tr>
                            <td>1509</td>
                            <td>Міська довідка про телефонні номери</td>   
                            <td>КМФ ПАТ "Укртелеком"</td>                       
                            </tr>
                            <tr>
                            <td>1551</td>
                            <td>Інформаційно=довідкова служба Київської міської влади</td>    
                            <td>Комунальне підприємство "гОСПКОМОБСЛУГОВУВАННЯ"</td>                      
                            </tr>
                            <tr>
                            <td>1553</td>
                            <td>Довідки про адресу мешканців свого та іншого міста</td>  
                            <td>ТОВ "Київміськдовідка"</td>                        
                            </tr>
                            </tbody>
                            <tr>
                            <td>1554</td>
                            <td>Прийом замовлень на транспортні послуги </td>  
                            <td>ТОВ "Інтерпейдж"</td>                        
                            </tr>
                            <tr>
                            <td>1555</td>
                            <td>Надання медичної допомоги</td>   
                            <td>ТОВ "Медіком"</td>                       
                            </tr>
                            <tr>
                            <td>1556</td>
                            <td>Довідкова служба та замовлення авіаквитків</td>  
                            <td>ЗАТ "Кийавіа"</td>                        
                            </tr>
                            <tr>
                            <td>1557</td>
                            <td>Аварійна служба з експлуатації водопровідних, каналізаційних, електричних мереж</td> 
                            <td>Комунальне підприємство "Київжитлоспкцексплуатація"</td>                         
                            </tr>
                            <tr>
                            <td>1558</td>
                            <td>Замовлення таксі</td>
                            <td>Комунальне підприємство "Київпастранс"</td>                         
                            </tr>
                            <tr>
                             <td>1559</td>
                            <td>Довідка з обслуговування туристів</td>    
                            <td>ТОВ "Київміськдовідка"</td>                      
                            </tr>
                            <tr>
                            <td>1563</td>
                             <td>Надання побутових послуг</td>    
                             <td>ВАТ "Світанок"</td>                      
                            </tr>
                            <tr>
                            <td>1564</td>
                            <td>Бюро ремонту таксофонів</td>   
                            <td>КМФ ПАТ "Укртелеком"</td>                       
                            </tr>
                            <tr>
                            <td>1566</td>
                            <td>Служба прийому телеграмм по телефону</td>    
                            <td>ФІКС ПАТ "Укртелеком"</td>                      
                            </tr>
                            <tr>
                            <td>1567</td>
                            <td>Довідка про наявність медикаментів в аптеках</td>      
                            <td>Комунальне підприємство "Інфомед"</td>                    
                            </tr>
                            <tr>
                            <td>1575</td>
                            <td>Бюро ремонту радіотрансляційної мережі</td> 
                            <td>ЦТЕРФ КМФ ПАТ "Укртелеком"</td>                         
                            </tr>
                            <tr>
                            <td>1577</td>
                             <td>Довідкова служба агенства "Янус"</td> 
                             <td>ТОВ "Янус"</td>                         
                            </tr>
                            <tr>
                            <td>1580</td>
                            <td>Невідкладна медична допомога</td> 
                            <td>ТОВ "Біофармтех"</td>                         
                            </tr>
                            <tr>
                            <td>1581</td>
                            <td>Аварійна служба водопровідних мереж</td> 
                            <td>ВАТ "Водоканал"</td>                         
                            </tr>
                            <tr>
                            <td>1583</td>
                            <td>Служба "Здоров'я"</td>    
                            <td>Київська міська станція швидкої допомоги та медицини катастроф</td>                      
                            </tr>
                            <tr>
                            <td>1585</td>
                            <td>Послуги авіаперевезень</td>     
                            <td>ЗАТ "Універсальне агенство з продажу авіаперевезень"</td>                     
                            </tr>
                            <tr>
                            <td>1586</td>
                            <td>Аварійна служба ліфтів</td>  
                            <td>Дочірнє підприємство "ЛІФТ-3"</td>                        
                            </tr>
                            <tr>
                            <td>1588</td>
                            <td>Аварійна служба електромереж</td>  
                            <td>ПАТ "Київенерго"</td>                        
                            </tr>
                            <tr>
                            <td>1515</td>
                            <td>Служба таксі</td>  
                            <td>ТОВ "Міжнародні транспортні системи"</td>                        
                            </tr>
                            <tr>
                            <td>1615</td>
                            <td>Служба замовлення таксі</td>      
                            <td>ФОП "Іванцов В.В."</td>                    
                            </tr>
                            <tr>
                            <td>1629</td>
                            <td>Служба замовлення таксі</td>  
                            <td>Підприємство "Оптіма"</td>                        
                            </tr>
                            <tr>
                            <td>1630</td>
                            <td>Продаж авіаквитків</td>  
                            <td>ТОВ "АРТ-ТУР"</td>                        
                            </tr>
                            <tr>
                            <td>1636</td>
                            <td>Книжкова довідка "Академкнига"</td>  
                            <td>Корпорація "Академкнига"</td>  
                            </tr>
                            <tr>
                            <td>1625</td>
                            <td>Служба  таксі</td>  
                            <td>ПП "Аспект-транссервіс"</td>                        
                            </tr>
                            <tr>
                            <td>1626</td>
                            <td>Служба замовлення таксі</td>  
                            <td>ТОВ "Таксі-Каштан"</td>                        
                            </tr>
                            <tr>
                            <td>1677</td>
                            <td>Служба замовлення таксі</td>  
                            <td>ТОВ "Еко-таксі"</td>                        
                            </tr>
                            <tr>
                            <td>1560</td>
                            <td>Служба замовлення таксі</td>  
                            <td>ФОП "Шульга А.П."</td>                        
                            </tr>
                            <tr>
                            <td>1569</td>
                            <td>Служба замовлення таксі</td>  
                            <td>ФОП "Шульга А.П."</td>                        
                            </tr>                                      
                            </table>
                            <div class="addinfo">
                            <P>Виклики на служби 101,102,103,104 не тарифікуються</P>
                            <p>На всі інші номери тариф зберігається як на послугт місцевого звязку. За винятком:</p>
                            <p>109-3,00 грн</p>
                            <p>1509-7,00 грн</p>
                            <p>1559-6,45 грн</p>
                            <p>Тарифи вказані з ПДВ</p>

            </div>
        </div>

    </div>

</section>

<% include layout/footer.ejs %>
