<% include layout/header.ejs %>
<section id="vac">
<div class="container">
<div class="row fon">
<div class="col-lg-12">
    <h1 class="maintext">Текущие вакансии</h1>
    <h5 class="addtext">ТОВ "УКРКОМ" запрошує на роботу менеджера по продажу послуг телефонії, Інтернет та передачі даних.</h5><br>
    <h5 class="addtext">Основні функціональні обов'язки:</h5>
    <ul class="list">
        <li>Пошук клієнтів - дзвінки, листи, особисті зустрічі з потенційними абонентами, продаж всіх видів послуг зв'язку та Інтернет</li>
        <li>Підтримка відносин з існуючими клієнтами та робота з новими;</li>
        <li>Робота в офісі і на потенційно перспективних об'єктах (бізнес-центри, торгові центри і т.д.), вивчення потенційних клієнтів і<br>
             пропозицій конкурентів, підготовка пропозицій.</li>
         <li>Пошук нових абонентів в місцях присутності компанії;</li>
         <li>Розробка пропозицій щодо вдосконалення і розвитку пов'язаних з маркетингом бізнес-процесів, виконання планів і розвитку
              мережі компанії;</li>
          <li>Взаємодія з безпосереднім керівником і іншими підрозділами компанії;</li>
          <li>Виконання плану продажів, підготовка щомісячної звітності по особистих продажах;</li>
          <li> Дотримання трудової дисципліни, правил внутрішнього розпорядку і вимог техніки безпеки.</li>
    </ul>

    <h5 class="addtext">Вимоги до кандидата:</h5>
    <ul class="list">
        <li>Вища або середню спеціальну освіту (бажано Телекомунікації та зв'язок, IT, торгівля, адміністрування, маркетинг);</li>
        <li>Досвід роботи на аналогічній посаді від 2-х років обов'язковий (бажано в сферах: IT, мережі і телекомунікації, зв'язок, продаж);</li>
        <li>Цілеспрямованість, старанність, відповідальність;</li>
        <li>Уміння ефективно і злагоджено працювати в команді менеджерів;</li>
        <li>Грунтовні практичні навички комунікації з клієнтами;</li>
        <li>Аналітичні, організаторські здібності, багатозадачність, стресостійкість, націленість на результат.</li>
    </ul>
        <p>Резюме відправляти на ел. пошту:  <a href="mailto: info@ukr-com.net"> info@ukr-com.net.</a> </p>
</div>
</div>
</div>
</section>
<% include layout/footer.ejs %>