.maintext, .addtext,p  {
    margin:2% auto 20px 100px;
    text-align: center;
    color: white;
    
}

.list ul{
    margin-left: 20%;
    
}
.list li {
    color: white;
}
.fon{
    background: #463af0;
    background-repeat: repeat;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(rgb(228, 227, 225), rgb(111, 128, 223));
    background-clip: padding-box;
    padding: 10px;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    margin-top: 20px;
}
.vac{
    margin-top: 20px;
    background-image: url('/public/images/fon.png');
    background-repeat: repeat;
}
a {
    color: black;
}